body
{
  background-color: #f8f8f6;

}
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.icon
{
    width: 150px;
    height: 150px;
   
    background-size: contain;
    margin: 0 auto;
    background-image: url(./images/leaf_15365355.png);
  
    transition: all 1.2s;
   cursor: pointer;

}
.wrapper
{
  width: 1200px;
  margin:  0 auto;
}
.icon:hover
{
  background-image: url(./images/palm_7148896.png);

}
.serach
{
  text-align: center;
  width: 1200px;
  height: 54px;
  
}
.serach .input 
{
  width: 900px;
  height: 54px;

  margin: 0 auto; 
  border-radius: 54px;

}
.serach input{
float: left;
  width: 846px;
  height: 54px;
 
  padding: 25px;
  font-size: 25px;
  border-radius: 54px;
 /* input属性 */
  border: 0;  
  outline: 0;

}
.serach h1
{
  font-size: 40px;
  color: greenyellow;
  text-shadow: 10px 10px 10px green;
  margin-bottom:10px ;

}
.serach button
{
 margin: 10px   ;
  border: 0;
  cursor: pointer;
  
}

.big

{

width: 1200px;

margin: 200px auto;
margin-bottom: 10px;

}

.footer
{
background-color: white;
height:280px;

}
.footer .left
{
float: left;
  


}

.footer .right{
float: right;

}

.footer .left p{
font-size: 20px;
font-weight: 700;
padding-top:15px ;
}


.footer .right dt{
font-size: 30px;
font-weight: 700;
}

.footer .right  a{
padding-top: 20px;
font-size: 24px;
color: green;


text-decoration: none;




}
img:hover
{
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) ,
  -10px -10px 10px white ;
  /* 第一个阴影用于投射效果
  第二个阴影用于背景 */
}

.login a
{
display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: 700;
  background-color: greenyellow;
 border-radius: 50px 0 0 50px;
  padding: 10px;
 
}
.login a:hover
{
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.box 
{
  height: 600px;

}
.box .left
{
  float: left;
  width: 200px;
  height: 600px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #04f61a, #68f600, #92f600, #b4f600, #d0f500, #deee00, #eae602, #f5df11, #f6cf07, #f6bf05, #f4af0a, #f1a012);
}

.box .lesson li
{
  margin: 50px 50px;
  list-style: none;
  float: left;
  width: 400px;
  height: 200px;
  
  border-radius: 30px;
  border: 3px solid #15e715;
  transition: all .5s;

}
.box .lesson li:nth-child(2n)
{
  margin-right: 0;
  
 
}
.box .lesson  a
{
  display: block;
width: 100%;
height: 100%;
text-decoration: none;
color: rgb(6, 184, 21);
font-weight: 700;
font-size: 50px;
line-height: 200px;
text-align: center;

}

.box .lesson li:hover
{
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1),
  10px 10px 10px  white;
  
 
}
.box .left p{
  display: block;
  height: 10%;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-weight: 700;
}
